<h1>Editing Product Service Product</h1>

<%= render 'form', product_service_product: @product_service_product %>

<%= link_to 'Show', @product_service_product %> |
<%= link_to 'Back', product_service_products_path %>
