<h1>Editing Member Service Member</h1>

<%= render 'form', member_service_member: @member_service_member %>

<%= link_to 'Show', @member_service_member %> |
<%= link_to 'Back', member_service_members_path %>
